[dell]
username = admin
password = yourpassword
baseUri = https://dell.example.com:3033/api/rest

[ovm]
username = admin
password = yourpassword
baseUri = https://ovmm.example.com:7002/ovm/core/wsapi/rest
